@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}

html{
    scroll-padding-top: 105px;
}

.logo{
    display: flex;
    gap: 30px;
    font-size: 25px;
    align-self: center;
}

.logo img{
    align-self: center;
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

a{
    text-decoration: none;
}

/*header{
    display: flex;
    gap: 100px;
    position: sticky;
    box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    height: 110px;
    backdrop-filter: blur(5px);
    z-index: 9999;
    padding-left: 100px;
    justify-content: space-between;
}*/
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    position: fixed;
    height: 6em;
}
header .container{
    height:100%;
    display: flex;
    justify-content: space-between;
    max-width: 85em;
    margin: 0 auto;
    padding-left:130px;
}
header nav{
    align-content: center;
}

header ul{
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 70px;
}

header a:hover{
    color: rgb(146, 226, 252);
}

header a:active{
    color: rgb(64, 106, 120);
}



body{
    background-color: #000000;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .welcome{
    background-image: linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), linear-gradient(0deg, rgba(0,0,0,1.0), rgba(0,0,0,0)), url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 6em;
    width: 100%;
}
.welcome .container {
    margin-left: 130px;
    display: flex;
    flex-direction: column;
}

.gradient{
    background: linear-gradient(45deg, rgb(37, 127, 205), rgb(144, 60, 214));
}
.gradient .a{
    color: black;
}

.whitebackground{
    background-color: rgb(255, 255, 255);
}
.whitebackground .a{
    color: black;
}

.btn{
    background-color: rgba(71, 71, 71, 0.3);
    width: max-content;
    height: auto;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
}

.btn a{
    font-family: 'Noto Sans', sans-serif;
    padding: 0 10px;
    color: white;
    font-size: 20px;
}

.welcome-text-1{
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    height: 18px;
    width: 315px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.welcome-text-2{
    width: 40%;
    font-size: 60px;
    line-height: 60px;
}

.welcome-text-3{
    font-family: 'Oswald', sans-serif;
    width: 40%;
    font-size: 20px;
    margin-top: 15px;
    line-height: 30px;
}

.startbuttons {
    display: flex;
}

.welcome .btn {
    margin-top: 40px;
}
.welcome .btn a{
    color: black;
}
.welcome .btn + .btn {
    margin-left: 40px;
}
.welcome .btn + .btn a{
    color: white;
}

.welcome-text-3 p{
    color: #9e9e9e;
}

.news {
    padding-top: 40px;
    text-align: center;
    height: 120vh;
    width: 100%;
}

.news h2 {
    width: 100%;
    font-size: 30px;
}
.news p {
    color: #9e9e9e;
    margin-top: 7px;
    font-size: 14px;
}

.newscards {
    margin: 30px 130px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    gap: 30px;

}

.bignewscard {
    /*background-color: #257fcd;*/
    border-radius: 10px;
    border: 1px solid #535353;
    flex: 1;
    height: 20em;
}

.smallnewscontainer {
    border-radius: 10px;
    border: 1px solid #535353;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smallnewscard {
    border-radius: 10px;
    border: 1px solid #535353;
    flex: 1;
}
@media (max-width: 768px){
    header .container{
        padding-left: 20px; !important
    }
    .welcome .container{
        margin-left: 20px; !important
    }
    .welcome-text-2, .welcome-text-3{
        width: 90%; !important;
    }

    .newscards {
        flex-direction: column;
        margin: 30px 20px;
    }
    .smallnewscontainer {
        flex: 2;
    }
}