@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;

}

html{
    scroll-padding-top: 105px;
}

.logo{
    display: flex;
    gap: 30px;
    font-size: 25px;
    align-items: center;
}

.logo img{
    height: 70px;
    width: 70px;
    margin-left: 30px;
    border-radius: 100px;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    gap: 100px;
    position: sticky;
    box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    height: 110px;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

header ul{
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 70px;
}

header a:hover{
    color: rgb(146, 226, 252);
}

header a:active{
    color: rgb(64, 106, 120);
}



body{
    background-color: #000000;
    margin: 0;
    width: 100%;
}

main .welcome{
    background-image: linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), linear-gradient(0deg, rgba(0,0,0,1.0), rgba(0,0,0,0)), url("Images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 850px;
    margin-left: 0;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
}

.gradient{
    background: linear-gradient(45deg, rgb(37, 127, 205), rgb(144, 60, 214));
}
.gradient .a{
    color: black;
}

.whitebackground{
    background-color: rgb(255, 255, 255);
}
.whitebackground .a{
    color: black;
}

.btn{
    background-color: rgba(71, 71, 71, 0.3);
    width: max-content;
    height: auto;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
}

.btn a{
    font-family: 'Noto Sans', sans-serif;
    padding: 0 10px;
    color: white;
    font-size: 20px;
}

main .welcome-text-1{
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    height: 18px;
    width: 315px;
    border-radius: 15px;
    margin-left: 130px;
    margin-top: 200px;
    margin-bottom: 10px;
}

main .welcome-text-2{
    width: 40%;
    margin-left: 130px;
    font-size: 60px;
    line-height: 60px;
}

main .welcome-text-3{
    font-family: 'Oswald', sans-serif;
    width: 40%;
    font-size: 20px;
    margin-left: 130px;
    margin-top: 15px;
    line-height: 30px;
}

.startbuttons {
    display: flex;
}

.welcome .btn {
    margin-left: 130px;
    margin-top: 40px;
}
.welcome .btn a{
    color: black;
}
.welcome .btn + .btn {
    margin-left: 40px;
}
.welcome .btn + .btn a{
    color: white;
}

.welcome-text-3 p{
    color: #9e9e9e;
}

.news {
    padding-top: 80px;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.news h2 {
    width: 100%;
    font-size: 30px;
}
.news p {
    color: #9e9e9e;
    margin-top: 7px;
    font-size: 14px;
}

.newscards {
    width: 100%;
    height: 80%;
    margin: 30px 0;
    display: flex;
    gap: 40px;
    justify-content: center;

}

.bignewscard {
    /*background-color: #257fcd;*/
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #535353;
    height: 55%;
    width: 40%;
    justify-self: flex-start;
}

.bignewscard .imagepart{
    height: 70%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url("Images/background-2.png") ;
    background-size: cover;
    background-clip: border-box;
    position: relative;
}
.bignewscard .imagepart h3{
    text-align: left;
    padding: 10px;
    vertical-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bignewscard .solidpart{
    background-color: #000000;
    height: 30%;
    position: relative;
}
.bignewscard .solidpart h3{
    padding: 5px 10px;

}
.bignewscard .solidpart p{
    text-align: left;
    padding: 0 10px;
}

.bignewscard .solidpart .whitebackground{
    background-color: #ffffff;
    height: 40px;
    width: max-content;
    float: right;
    position: relative;
    right: 20px;
    bottom: 0;
}
.bignewscard .solidpart .whitebackground a{
    color: #000000;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.smallnewscontainer {
    /*background-color: #257fcd;*/
    width: 40%;
    height: 80%;
    display: block;
    justify-self: flex-end;
}
.smallnewscard {
    /*background-color: #903cd6;*/
    margin-bottom: 30px;
    height: 25%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #535353;
}



footer{
    background-color: rgba(10,21,38,0.95);
}

footer address{
    display: flex;
    gap: 2rem;
}