.guides {
    padding-top: 90px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.searchbar {
    width: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.searchbar input {
    width: 100%;
    padding: 12px 15px;
    background-color: #1b1b1b;
    border: 1px solid #333;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.searchbar input:focus {
    outline: none;
    border-color: #d843ce;
}


.guidelist {
    margin-top: 30px;
    width: 60%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.guidecard {
    width: 100%;
    max-width: 1000px;
    background-color: #1a1a1a;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(31, 77, 175, 0.68);
    transition: 0.2s ease;
    box-sizing: border-box;
}


.guidecard:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(66, 190, 255, 0.67);
}


.thumb {
    min-width: 140px;
    min-height: 100px;
    height: 100px;
    width: 140px;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}


.thumb img {
    height: 90%;
    width: 90%;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
}


.title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}


.desc {
    margin: 5px 0 0 0;
    color: #bbbbbb;
}


@media (max-width: 900px) {
    .guidelist, .searchbar {
        width: 80%;
    }
}


@media (max-width: 600px) {
    .guidelist {
        width: 90%;
    }

    .guidecard {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .thumb {
        width: 70%;
        height: auto;
    }
}