main .welcome{
    background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.1)), linear-gradient(0deg, rgba(0,0,0,1.0), rgba(0,0,0,0)), url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding-top: 10%;
    width: 100%;
}
.welcome .container {
    margin: 100px auto auto auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.gradient{
    background: linear-gradient(45deg, rgb(37, 127, 205), rgb(144, 60, 214), rgb(37, 127, 205));
    background-size: 200%;
}
.gradient .a{
    color: black;
}

.whitebackground{
    background-color: rgb(255, 255, 255);
}
.whitebackground .a{
    color: black;
}

.btn{
    background-color: rgba(71, 71, 71, 0.3);
    padding: 0 5%;
    width: max-content;
    height: auto;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
}

.btn a{
    font-family: 'Noto Sans', sans-serif;
    padding: 0 10px;
    color: white;
    font-size: 20px;
}

.welcome-text-1{
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    height: 18px;
    width: 315px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.welcome-text-2{
    width: 40%;
    font-size: 60px;
    line-height: 60px;
}

.welcome-text-3{
    font-family: 'Oswald', sans-serif;
    width: 40%;
    font-size: 20px;
    margin-top: 15px;
    line-height: 30px;
}

.startbuttons {
    display: flex;
}

.btn.gradient:hover {
    animation: gradButtonhover 0.8s ease forwards;
}
.btn.gradient:not(:hover){
    animation: gradButtonunhover 0.8s ease forwards;
}

.welcome a {
    margin-top: 40px;
}
.welcome a p{
    color: black;
}
.welcome a + a {
    margin-left: 40px;
}
.welcome a + a p{
    color: white;
}

.welcome-text-3 p{
    color: #9e9e9e;
}

.news {
    padding-top: 40px;
    text-align: center;
    width: 100%;
    min-height: 90vh;
    padding-bottom: 40px;
}

.news h2 {
    width: 100%;
    font-size: 30px;
}
.news p {
    color: #9e9e9e;
    margin-top: 7px;
    font-size: 14px;
}

.newscards {
    margin: 30px auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;

}

.bignewscard {
    border-radius: 10px;
    border: 1px solid #535353;
    flex: 1;
    height: 20em;
    max-width: 45%;
    margin-bottom: 20px;
}

.smallnewscontainer {
    max-width: 45%;
    border-radius: 10px;
    border: 1px solid #535353;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smallnewscard {
    border-radius: 10px;
    border: 1px solid #535353;
    height: 8em;
}

.gallery {
    padding: 40px 0;
    text-align: center;
}

.gallery h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 85em;
    margin: 0 auto;
    padding: 0 2em;
}

.gallery-item {
    background-color: #535353;
    border-radius: 10px;
    height: 200px;
    flex-basis: calc(25% - 15px);
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.trending {
    margin-top: 200px;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
}

.modcard {
    width: 300px;
    height: 500px;
    border: 1px solid white;
    overflow: hidden;
}

.trending #beatgamba {
    position: relative;
    background-image: url("../Images/beatgamba.png");
    background-size: cover;
    background-position-x: -300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.trending #beatgamba .modinfo {
    position: absolute;
    top: 100%;
    transition: 0.3s ease;
}

.trending #beatgamba:hover {
    background-image: linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0,0)), url("../Images/beatgamba.png");
}
.trending #beatgamba:hover .modinfo {
    transform: translate(0, -150%);
}

.trending .video {
    height: 500px;
    width: 200px;
    position: relative;
}

.trending .video iframe {
    height: 500px;
    width: 300px;
}

.video .videooverlap {
    position: absolute;
    background-color: white;
    width: 300px;
    height: 100px;
    left: -150%;
    top: 40%;
    opacity: 0;
    transition: 0.3s ease;
}

.video:hover  .videooverlap{
    opacity: 1;
    left: -100%;
}

.videooverlap h2,
.videooverlap p {
    color: black;
}
.videooverlap p {
    font-size: 12px;
}

@media (max-width: 1024px) {
    .gallery-item {
        flex-basis: calc(50% - 15px);
    }
}

@media (max-width: 768px){

    .welcome .container{
        padding: 0 1em;
    }
    .welcome-text-2, .welcome-text-3{
        width: 90%;
    }

    .newscards {
        flex-direction: column;
        justify-content: center;
        padding: 0 1em;
    }
    .bignewscard {
        flex: none;
        min-width: 100%;
        height: 20em;
    }
    .smallnewscontainer {
        flex: none;
        min-width: 100%
    }
    .gallery-item {
        flex-basis: 100%;
    }

    .trendingmods {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    header .container .logo h1{
        display: none;
    }
    .welcome-text-1 {
        display: none;
    }
    .startbuttons {
        flex-direction: column;
    }
    .welcome-text-2 {
        font-size: 30px;
        line-height: 35px;
    }
    .welcome-text-3 {
        font-size: 17px;
        line-height: 30px;
    }
    .welcome a + a {
        margin-left: 0;
        margin-top: 20px;
    }
}

@keyframes gradButtonhover {
    from {

    }
    to {
        background-position: 100%;
    }
}
@keyframes gradButtonunhover {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0;
    }
}