.container {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 50px;
}

h1 {
    margin: 0;
}

.maps {
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maplist {
    margin-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mapcard {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    gap: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px #d843ce55;
    transition: 0.2s ease;
}

.mapcard:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #d843ceaa;
}

.cover {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.author {
    margin: 5px 0 0 0;
    color: #bbbbbb;
}

@media (max-width: 900px) {
    .maplist {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .maplist {
        width: 95%;
    }
    .mapcard {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cover {
        width: 80%;
        height: auto;
    }
}