body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../Images/profileback1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    margin: 0;
    min-height: 100vh;
}

.profile {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding-top: 120px;
    width: 90%;
    min-height: 200px;
}

.profile .user {
    display: flex;
    width: fit-content;
    justify-content: center;
    gap: 60px;
}

.profile .usercard {
    width: 712px;
    min-height: 100%;
    background-image: url('../Images/Profile/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 20px 1px #e3e3e3;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.usercard .socials {
    margin-left: auto;
    margin-top: auto;
    display: flex;
    gap: 10px;
    height: 40px;
}

.usercard p {
    margin: 20px;
    font-size: 40px;
    text-shadow: 2px 2px 8px rgba(0,0,0,90%);
    max-height: 50px;
}

.usercard > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px 1px black;
}

.socials a {
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #232323;
}

.socials a img {
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
}


#discord {
    background-color: #5865F2;
}
#steam {
    background-color: black;
}
#youtube {
    background-color: white;
}
#twitch {
    background-color: white;
}

.profile .stats {
    display: flex;
    flex-direction: column;
    width: 310px;
    max-height: fit-content;
    background: rgba(32, 32, 32, 0.9);
    box-shadow: 0 0 20px 1px #e3e3e3;
    border-radius: 20px;
    padding: 30px 20px;
}

.stats .stat {
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 20px;
}

.stat p {

    height: 30px;
}

.stat img {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.scorestable {
    margin-top: 80px;
    width: 1162px;
    height: fit-content;
    background: rgba(51, 51, 51, 0.9);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 1px #e3e3e3;
    border-radius: 20px;
    margin-bottom: 20px;
}

.sortchoice {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    background-color: #1a1a1a;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sortchoice p {
    align-content: center;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    background-color: #474747;
    transform: scale(120%);
    cursor: pointer;
}

.sortchoice p.active {
    background-color: #272727;
    transform: scale(100%);
    cursor: pointer;
}

.score {
    min-height: 100px;
    margin: 20px 20px;
    background-color: rgba(16, 16, 16, 0.9);
    border-radius: 10px;
    display: flex;
}

.scoreinfo1 {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreinfo1 > p {
    font-size: 14px;
}

.rank {
    display: flex;
    gap: 5px;
}

.rank img {
    height: 20px;
}

.cover {
    margin: auto 10px;
    height: 80px;
    width: 80px;
}

.cover img{
    height: 80px;
    border-radius: 10px;
}

.mapinfo {
    align-content: center;
}

.mapinfo a {
    font-size: 20px;
}

.mapinfo a ~ p {
    font-size: 12px;
}

.scoreinfo2 {
    padding: 10px 5px;
    margin-left: auto;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.scoreinfo2 .acc,
.scoreinfo2 .pp,
.scoreinfo2 .points,
.scoreinfo2 .mistakes {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px black;
}

.scoreinfo2 .acc {
    background-color: rgb(13, 131, 222);
}


.scoreinfo2 .pp {
    display: flex;
    background-color: rgb(85, 76, 168);
    gap: 10px;
}

.points {
    background-color: rgb(135, 43, 158)
}

.mistakes {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(56, 56, 56)
}

.mistakes img {
    height: 20px;
}