body {
    background-color: #03050b; !important
}

.leaderboard {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.ratings {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.tablewrapper {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    min-height: 600px;
    width: 40%;
    flex-grow: 0;

}

.table {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: #101010;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px #d843ce;
}

.tableunit {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    gap: 20px;
    background-color: #272727;
    width: 90%;
    min-height: 50px;
    border-radius: 20px;
    margin: 5px 0;
}


.tableunit .rank {
    background-color: #434343;
    border-radius: 20%;
    padding: 3px 10px;
    width: 20px;
    text-align: center;
}

.tableunit .flag {
    height: 30px;
    width: 40px;
    background-color: #474747;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tableunit .flag img {
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}


.tableunit .pfp {
    aspect-ratio: 1 / 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    vertical-align: center;
    overflow: hidden;
}

.tableunit .pfp img {
    height: 100%;
    width: 100%;
}

.tableunit .flag,
.tableunit .pfp {
    flex-shrink: 0;
}

.tableunit a {
    width: 100px;
}

.tableunit .pp {
    width: 93px;
    margin-left: auto;
    margin-right: 10%;
}

.pagebuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 300px;
    height: 50px;
}

.pagebuttons .pg {
    display: flex;
    border-radius: 5px;
    height : 40px;
    width: 40px;
    background-color: #434343;
    justify-content: center;
    align-items: center;
}

#nextpage, #prevpage {
    cursor: pointer;
    user-select: none;
}
#pagetext {
    cursor: default;
    user-select: none;
}




.filterswrapper {
    margin-top: 30px;
    position: relative;
    width: 20%;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.filters {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 40px;
    background-color: #101010;
    border-radius: 10px;
    border: 1px solid #535353;
    color: white;
    padding: 0 10px;
    z-index: 2;
    cursor: pointer;
}

.filters img {
    height: 30px;
    user-select: none;
}

.filters b {
    user-select: none;
}

#filterarrow {
    margin-left: auto;
    height: 15px;
    transition: 0.3s ease;
    user-select: none;
}

.filterdropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 160px;
    background-color: #272727;
    top: -75%;
    left: 0;
    border-radius: 10px;
    transition: .3s ease;
}

.filters.active #filterarrow {
    transform: rotate(180deg);
}

.filterdropdown.active {
    top: 0;
}

#search {
    width: 70%;
    background-color: #1b1b1b;
    border: none;
}
#search:focus {
    outline: none;
}

#country {
    margin-top: 20px;
    width: 60%;
    background-color: #1b1b1b;
}

@media (max-width: 1270px) {
    .tablewrapper {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .tablewrapper {
        width: 90%;
    }
    .table {
        padding-left: 10px;
        padding-right: 10px;
    }
    .filterswrapper {
        overflow: visible;
        position: fixed;
        right: 40px;
        width: 50px;
    }

    .filters #filterarrow,
    .filters b {
        display: none;
    }
    .filterdropdown {
        border: 1px solid white;
        width: 200px;
        opacity: 0;
        left: -200px;
        top: 0;
        transform: scale(30%);
        transform-origin: top right;
    }
    .filterdropdown.active {
        opacity: 1;
        transform: scale(1);
    }
}